<html>
<head>
    <title>Car Rental Search</title>
</head>
<body>
    <section class="book_section">
        <div class="form_container">
            <form action="/search" method="POST">
                <!-- Form fields -->
            </form>
        </div>
    </section>
</body>
</html>
